<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="MicwayTechTest" type="log4net.Appender.RemoteSyslogAppender">
    <facility value="Local7" />
    <identity value="%date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} %P{log4net:HostName} MicwayTechTest" />
    <layout type="log4net.Layout.PatternLayout" value="%level - %message%newline" />
    <remoteAddress value="logs7.papertrailapp.com" />
    <remotePort value="42104" />
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="MicwayTechTest" />
  </root>
</log4net>
